/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <250>;
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
};

/ {
    behaviors {
        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&mt>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3     &kp N4    &kp N5                          &kp N6  &kp N7    &kp N8     &kp N9    &kp N0     &kp BSPC
&kp TAB    &kp Q   &kp W   &kp F      &kp P     &kp B                           &kp J   &kp L     &kp U      &kp Y     &kp I      &kp MINUS
&kp LSHFT  &kp A   &kp R   &kp S      &kp T     &kp G                           &kp M   &kp N     &kp E      &kp I     &kp O      &kp EQUAL
&kp LBKT   &kp Z   &kp X   &kp C      &kp D     &kp V   &kp COMMA    &kp DOT    &kp K   &kp H     &kp APOS   &kp FSLH  &kp GRAVE  &kp RBKT
                           &kp LCTRL  &kp LGUI  &trans  &kp SPACE    &kp ENTER  &trans  &kp LALT  &kp LSHFT
            >;
        };

        layer_1 {
            bindings = <
&kp LS(GRAVE)  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT              &kp CARET         &kp AMPERSAND          &kp ASTERISK     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DELETE
&kp CAPSLOCK   &kp F1           &kp F2       &kp F3    &kp F4      &kp                      &kp EQUAL         &kp PLUS               &kp MINUS        &kp ASTERISK          &kp SLASH              &kp UNDERSCORE
&kp            &kp F5           &kp F6       &kp F7    &kp F8      &kp                      &kp GREATER_THAN  &kp LEFT_PARENTHESIS   &kp LEFT_BRACE   &kp LEFT_BRACKET      &kp PIPE               &kp
&kp            &kp F9           &kp F10      &kp F11   &kp F12     &kp          &kp    &kp  &kp LESS_THAN     &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET     &kp NON_US_BACKSLASH   &kp
                                             &kp       &kp         &kp          &kp    &kp  &kp               &kp                    &kp
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
