/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&trans          &trans  &trans  &trans  &trans      &trans                           &trans         &trans   &trans     &trans   &trans    &trans
&kp TAB         &kp Q   &kp W   &kp E   &kp R       &kp T                            &kp Y          &kp U    &kp I      &kp O    &kp P     &kp BSPC
&kp ESCAPE      &kp A   &kp S   &kp D   &kp F       &kp G                            &kp H          &kp J    &kp K      &kp L    &kp SEMI  &kp APOS
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C   &kp V       &kp B      &trans     &trans     &kp N          &kp M    &kp COMMA  &kp DOT  &kp FSLH  &kp RET
                                &trans  &kp ESCAPE  &kp SPACE  &kp TAB    &kp ENTER  &kp BACKSPACE  &kp DEL  &trans
            >;
        };

        button {
            bindings = <
&trans  &trans        &trans        &trans      &trans          &trans                        &trans      &trans           &trans      &trans         &trans         &trans
&trans  &kp K_UNDO    &kp K_CUT     &kp K_COPY  &kp K_PASTE     &kp K_REDO                    &kp K_REDO  &kp K_PASTE      &kp K_COPY  &kp K_CUT      &kp K_UNDO     &kp DEL
&trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL   &kp LEFT_SHIFT  &trans                        &trans      &kp RIGHT_SHIFT  &kp RCTRL   &kp RIGHT_ALT  &kp RIGHT_GUI  &trans
&trans  &trans        &kp K_CUT     &kp K_COPY  &kp K_PASTE     &kp K_REDO  &trans    &trans  &kp K_REDO  &kp K_PASTE      &kp K_COPY  &kp K_CUT      &trans         &trans
                                    &trans      &trans          &trans      &trans    &trans  &trans      &trans           &trans
            >;
        };
    };
};
